<div class="container-fluid pt-4 px-4">
    <h1 style="font-weight: bold;">Dashboard {{year}}</h1>

    <div class="container-fluid">
        <div class="card p-4">
    
            <div class="row mb-4">
                <div class="col-4">                
                    <app-chart
                    [dataSets]="[this.wasteStats.totalSortedWaste, this.wasteStats.totalUnsortedWaste]"
                    [labels]="['Sorted Waste', 'Unsorted Waste']"
                    [colors]="['#34A853', '#EA4335']"
                    [labelText]="'Numero KG'"
                    [type]="'pie'"
                    ></app-chart>
                </div>
    
                <div class="col">
                    <div class="card p-4 h-100">
                        <div class="card-body d-flex flex-column align-items-center">
                            <h5 class="card-title">Trash</h5>
                            <p class="card-text">Quantity of sorted wastes: {{this.wasteStats.totalSortedWaste}} KG</p>
                            <p class="card-text">Quantity of unsorted wastes: {{this.wasteStats.totalUnsortedWaste}} KG</p>    
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="row mb-4">
                <div class="col-4" >
                    <div class="card p-4 h-100">
                        <div class="card-body d-flex flex-column align-items-center">
                            <h5 class="card-title">Taxes</h5>
                            <p class="card-text">Total paid taxes: {{this.paidFee.totalSortedTax + this.paidFee.totalUnsortedTax}} €</p>
                            <p class="card-text">Total unpaid taxes: {{this.unpaidFee.totalSortedTax + this.unpaidFee.totalUnsortedTax}} €</p>    
                        </div>
                    </div>
                </div>
    
                <div class="col">
                    <div class="char-wrapper">
                        <app-chart
                        [dataSets]="[this.paidFee.totalSortedTax, this.unpaidFee.totalSortedTax, this.paidFee.totalUnsortedTax, this.unpaidFee.totalUnsortedTax]"
                        [labels]="['Paid Sorted Tax', 'Unpaid Sorted Tax', 'Paid Unsorted Tax', 'Unpaid Unsorted Tax']"
                        [colors]="['#34A853', '#EA4335', '#34A853', '#EA4335']"
                        [labelText]="'Euro'"
                        [type]="'bar'"
                        ></app-chart>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>
  